[MagicCardBuyer]
# The most expensive card we are willing to buy; in cents.
# (We might in theory end up paying a little more than this, if a card
# is cheaper at some vendor, but it isn't optimal to buy from that vendor.)
# Omit if you are always willing to buy at market price.
MaximumPrice = 200
# If True, caches results of price lookups between runs (in case a run is
# interrupted partway through) or you otherwise want to reuse information.
Cache = False